
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ff4081, #81d4fa);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 450px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out;
}

.wrapper:hover {
  transform: scale(1);
}

.form-container {
  width: 100%;
  position: relative;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #444;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.form-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 50px;
  transition: all 0.3s ease;
  background-color: #f7f7f7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.form-input:focus {
  outline: none;
  border-color: #ff4081;
  box-shadow: 0px 4px 20px rgba(255, 64, 129, 0.4);
  background-color: #ffffff;
}

.form-input.valid {
  border-color: #4caf50;
  background-color: #e8f5e9;
  box-shadow: 0px 4px 15px rgba(76, 175, 80, 0.2);
}

.form-input.invalid {
  border-color: #f44336;
  background-color: #ffebee;
  box-shadow: 0px 4px 15px rgba(244, 67, 54, 0.2);
}

.submit-btn {
  width: 100%;
  padding: 15px;
  background-color: #f2dc4e;
  color: black;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 5px 20px rgba(255, 64, 129, 0.5);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.submit-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 300%;
  height: 300%;
  background: rgba(234, 255, 0, 0.1);
  transition: left 0.6s ease;
  z-index: 0;
}

.submit-btn:hover::before {
  left: -10%;
}

.submit-btn:hover {
  background-color: #dbec40;
  box-shadow: 0px 5px 25px rgba(131, 255, 64, 0.7);
}

.submit-btn span {
  position: relative;
  z-index: 1;
}

.success-message {
  display: none;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  animation: fadeIn 0.6s ease-in-out;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.form-input:focus + label {
  color: #fef900;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.wrapper:hover {
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.3);
}
